# Created by .ignore support plugin (hsz.mobi)
.idea/
bot/slackportfolio/
__pycache__/
bot/log/*
bot/res/companies/*/archives/*
bot/tmp
ghostdriver.log
/.env
/bin
/lib
/lib64
/include
pip-selfcheck.json
selenium
bot/res/selected.csv
.Python
bot/res/companies/*/*.csv
bot/res/companies/*/*.html
bot/res/companies/*.html
bot/res/*.html
bot/res/companies/*.csv
!/bot/res/finam_em.csv
bot/log/
bot/res/ListingSecurityList.csv
bot/res/companies/
bot/res/description.xlsx
bot/res/output.txt
db/
docs/
find/
tmp/
res
