certifi==2017.4.17
chardet==3.0.4
dateutils==0.6.6
future==0.16.0
idna==2.5
lxml>=4.6.3
matplotlib
mongoengine>=0.13.0
numpy
olefile==0.44
pandas_datareader
pillow>=8.1.2
platypus-opt
plotly=4.14.3
prettytable
pyfolio
pylzma==0.4.8
pymc3
pymongo==3.4.0
python-dateutil
python-telegram-bot
rarfile==3.0
requests==2.20.1
robobrowser>=0.5
selenium==3.4.3
six==1.10.0
slackclient==1.0.6
tabulate
texttable
tinvest==3.0.3
theano
urllib3>=1.23
virtualenv==15.1.0
websocket-client==0.44.0
xvfbwrapper==0.2.9
yfinance
