certifi
chardet
dateutils
future
idna
lxml
matplotlib
mongoengine
numpy
olefile
pandas_datareader
pillow
platypus-opt
plotly
prettytable
pyfolio
pylzma
pymc3
pymongo
python-dateutil
python-telegram-bot
rarfile
requests
robobrowser
selenium
six
slackclient
tabulate
texttable
tinvest==3.0.3
theano
urllib3
virtualenv
websocket-client
xvfbwrapper
yfinance
